html {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Barriecito, sans-serif;
    text-shadow: rgb(112, 67, 0) 1px 0 10px;
    background-image:url("./img/rock-paper-scissor-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-button {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-header {
    flex: 1;
    color: whitesmoke;
    text-align: center;
}

button {
    margin-top: 200px;
    height: fit-content;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-shadow: rgb(112, 67, 0) 1px 0 10px;
}

p {
    font-size: 28px;
    font-weight: 800;
}